.blogs__nav {
    background-color: #09070a;
    padding: 14.15rem 22.5rem 4.25rem 22.5rem;
    color: #fff;
    font-family: Lato, sans-serif;
    font-size: 2rem;
    display: flex;
    width: 100%;
}

.blogs__nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.blogs__nav__item {
    cursor: pointer;
    margin-right: 1.25rem;
}

.blogs__nav__item--text {
    opacity: 0.6;
}

.blogs__nav__item--selected .blogs__nav__item--text{
    opacity: 1;
}

.blogs__nav--pill {
    width: 3.1rem;
    height: 0.6rem;
    border-radius: 8px;
    background-color: #fff;
    margin-top: 0.85rem;
    visibility: hidden;
    opacity: 0;
    transition: all 200ms ease-out;
}

.blogs__nav__item--selected .blogs__nav--pill {
    visibility: visible;
    opacity: 1;
}

.blogs__nav__search-label {
    position: relative;
    width: 15%;
    text-align: end;
}

.blogs__nav__search-icon {
    fill: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    cursor: pointer;
    width: 15%;
    height: 100%;
}

.blogs__nav__search-input {
    background-color: #09070a;
    border: none;
    color: #fff;
    font-size: 2rem;
    border-radius: 5px;
    width: 80%;
    padding: 0.5rem 1.5rem;
}

.content__wrapper {
    position: relative;
}

.blogs__section {
    padding: 8rem 22.5rem;
    position: relative;
}

.blogs__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 12.2rem;
    grid-row-gap: 10.25rem;
    position: relative;
    transition: transform 300ms ease-out;
}

.blog__data {
    position: relative;
}

.blog__article {
    color: #131415;
    display: flex;
    flex-direction: column;
    margin: 15.2rem auto 0 auto;
    width: 60%;
}

.blog__header-heading {
    font-size: 5rem;
    font-weight: bold;
}

.blog__header-wrapper {
    display: flex;
    width: 100%;
    margin: 3.6rem 0 9rem 0;
}

.blog__header-img-wrapper {
    width: 7.5rem;
    height: 7.5rem;
    background-color:rgba(21, 21, 21, 0.2);
    border-radius: 50%;
}

.blog__header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.8rem;
}

.blog__header-creator {
    font-size: 2rem;
}

.blog__header-upload-info {
    font-size: 1.6rem;
    color: rgba(21, 21, 21, 0.7);
    display: flex;
    align-items: baseline;
}

.blog__header-upload-dot {
    font-size: 5rem;
    line-height: 0;
    margin: 0 1.8rem;
}

div.blog__content::after {
    content: '';
    display: block;
    margin: 13rem auto;
    width: 50%;
    border-top: 1px solid rgba(21, 21, 21, 0.3);
}

.blog__para {
    font-family: Lato, sans-serif;
    font-size: 2.5rem;
    color: rgba(21, 21, 21, 0.7);
    margin-bottom: 4.2rem;
    font-weight: 300;
}

.blog__quote_wrapper {
    width: 75%;
    margin: 8rem 0 4.2rem auto;
    display: flex;
}

.blog__quote_text {
    font-size: 2.5rem;
    font-weight: 500;
    color: rgba(21, 21, 21, 0.7);
}

.blog__quote_img {
    transform: translateY(-60%);
    width: 15%;
    margin-right: 0.5rem;
}

.blog__img__box {
    width: 100%;
    height: 45rem;
    text-align: center;
}

.blog__img {
    height: 100%;
    border-radius: 3.5rem;
}

.blog__para__heading {
    font-size: 3rem;
    font-weight: bold;
    margin: 9.6rem 0 6.2rem 0;
}

.blog__footer {
    margin-top: 15rem;
    display: flex;
}

.blog__footer-img-box {
    width: 14rem;
    height: 14rem;
    background-color:rgba(21, 21, 21, 0.2);
    border-radius: 50%;
}

.blog__footer-info {
    margin-left: 3.8rem;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.blog__footer-creator {
    font-size: 2rem;
}

.blog__footer-creator-info {
    font-size: 1.5rem;
}

.blog__footer-contact-info {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.blog__footer-contact-link {
    cursor: pointer;
    color: rgba(21, 21, 21, 0.5);
}

.blog__footer-contact-icon {
    fill: rgba(21, 21, 21, 0.5);
    margin-right: 2.2rem;
}

.blog__footer-contact {
    margin-left: auto;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.blog__footer-contact-label {
    font-family: Lato, sans-serif;
    font-size: 2rem;
    color: rgb(19, 20, 21);
}

.blog__footer-contact-input {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-family: Lato, sans-serif;
    color: rgba(19, 20, 21, 0.5);
    padding: 1.3rem 1.7rem;
    border: 1px solid rgba(21, 21, 21, 0.7);
    border-radius: 5px;
}

.blog__tag-wrapper {
    display: flex;
    flex-direction: column;
    margin: 11.3rem auto 0 auto;
    width: 60%;
}

.blog__tag-text {
    font-size: 2rem;
    color: rgba(21, 21, 21, 1);
    margin-bottom: 0.8rem;
}

.blog__tag-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.blog__tag {
    text-transform: uppercase;
    padding: 1.3rem 5.1rem;
    font-family: Lato, sans-serif;
    color: rgba(19, 20, 21, 0.3);
    text-align: center;
    font-size: 1.4rem;
    border: 1px solid rgba(21, 21, 21, 0.5);
    border-radius: 2rem;
    margin: 3rem 2rem;
}

@media (max-width: 1700px){
    .blogs__section {
        padding: 6rem 18.5rem;
    }

    .blogs__nav {
        padding: 14.15rem 18.5rem 4.25rem 18.5rem;
    }

    .blog__article {
        margin: 13.2rem auto 0 auto;
    }

    .blog__header-heading {
        font-size: 4rem;
    }

    .blog__para, .blog__quote_text {
        font-size: 2.25rem
    }

    .blog__quote_img {
        width: 13%;
    }

    .blog__footer { 
        margin-top: 8rem;
    }
}

@media (max-width: 1500px){
    .blogs__section {
        padding: 6rem 14.5rem;
    }

    .blogs__nav {
        padding: 12.15rem 14.5rem 3.25rem 14.5rem;
    }

    .blog__article {
        margin: 10.2rem auto 0 auto;
        width: 70%;
    }

    .blogs__wrapper {
        grid-column-gap: 8.2rem;
    }

    .blog__quote_img {
        width: 10%;
    }
}

@media (max-width: 1300px){
    .blogs__nav {
        font-size: 1.8rem;
    }

    .blog__header-heading {
        font-size: 3.5rem;
    }

    .blog__para {
        font-size: 2rem;
        margin-bottom: 2.2rem;
    }

    .blog__quote_text {
        font-size: 2rem
    }

    .blog__para__heading {
        font-size: 2.5rem;
        margin: 6.6rem 0 3.2rem 0;
    }

    .blog__tag {
        padding: 1.5rem 3.5rem;
        margin: 2.25rem 1.5rem;
    }

    .blog__footer {
        margin-top: 5rem;
    }
}

@media (max-width: 1200px){
    .blogs__nav {
        flex-wrap: wrap;
    }

    .blogs__nav__list {
        width: 100%;
    }

    .blogs__nav__search-label {
        width: 40%;
        text-align: start;
        margin-top: 3rem;
        height: 3.5rem;
    }

    .blogs__nav__search-icon {
        position: initial;
        width: 12%;
    }

    .blogs__nav__search-input {
        width: 100%;
        padding: 1.5rem 1rem;
        font-size: 1.8rem;
        font-family: Lato, sans-serif;
    }

    .blogs__nav__search-icon, .blogs__nav__search-input {
        height: 3rem;
    }

    .blogs__nav__search-input.hideabs {
        opacity: 1;
        visibility: visible;
        transform: translate(10%, 0);
        margin-left: 1.5rem;
        border: 1px solid rgba(255, 255, 255, 0.6);
    }
}

@media (max-width: 1100px){
    .blogs__section {
        padding: 4rem 12.5rem;
    }

    .blogs__nav {
        padding: 8.15rem 12.5rem 3.25rem 12.5rem;
    }

    .blog__article {
        margin: 6.2rem auto 0 auto;
    }

    .blog__tag {
        padding: 1rem 2.75rem;
        margin: 1.75rem 1rem;
    }

    .blog__footer {
        margin-top: 0;
    }
}

@media (max-width:1000px){
    .blogs__nav {
        padding: 8.15rem 8.5rem 3.25rem 8.5rem;
    }

    .blogs__nav__list {
        overflow: scroll;
    }

    .blogs__nav__item--text {
        white-space: nowrap;
    }

    .blogs__section {
        padding: 6rem 0 4rem 0;
        margin: 0 auto;
        width: 85%;
    }

    .blog__article {
        width: 75%;
    }

    .blog__para__heading {
        margin: 5.6rem 0 3.2rem 0;
    }

    .blog__footer-img-box {
        width: 8rem;
        height: 8rem;
    }

    .blog__footer-creator, .blog__footer-contact-label, .blog__header-creator {
        font-size: 1.8rem;
    }

    .blog__footer-creator-info {
        font-size: 1.4rem;
    }

    .blog__footer-contact-info {
        margin-top: 0.75rem;
    }
}

@media (max-width:800px){
    .blogs__wrapper {
        grid-template-columns: 1fr;
        grid-row-gap: 3rem;
    }

    .blogs__nav {
        padding: 8.15rem 6rem 3rem 6rem;
    }

    .blogs__nav__search-label {
        width: 50%;
    }

    .blog__article {
        width: 80%;
    }

    .blog__header-wrapper {
        margin: 2rem 0 3rem 0;
    }

    .blog__header-heading {
        font-size: 3rem;
    }

    .blog__header-img-wrapper {
        width: 6rem;
        height: 6rem;
    }

    .blog__para, .blog__quote_text {
        font-size: 1.8rem;
    }

    .blog__quote_wrapper {
        margin: 2rem auto;
        width: 100%;
    }

    .blog__quote_img {
        width: 7%;
    }

    .blog__para__heading {
        font-size: 2rem;
        margin: 3.6rem 0 1.2rem 0;
    }

    div.blog__content::after {
        margin: 5rem auto;
    }

    .blog__tag-wrapper {
        margin: 4rem auto;
        width: 85%;
    }

    .blogs__section {
        padding: 4rem 0 3rem 0;
    }

    .blog__footer-img-box {
        height: 5rem;
        width: 5rem;
    }

    .blog__footer-info {
        margin-left: 1.5rem;
    }

    .blog__footer-contact-icon {
        width: 50%;
        margin-right: 1rem;
    }

    .blog__footer-contact {
        width: 30%;
    }

    .blog__footer-contact-input {
        padding: 1.25rem 1rem;
    }

    .blog__tag {
        margin: 0.5rem;
        padding: 0.75rem 2rem;
    }

}

@media (max-width:600px) {
    .blogs__nav {
        padding: 8.15rem 4.5rem 3.25rem 4.5rem;
    }

    .blogs__section {
        padding: 4rem 0 2rem 0;
    }

    .blog__article {
        width: 85%;
    }

    .blog__footer-info {
        margin-left: 0.5rem;
    }
}

@media (max-width:500px) {
    .blogs__nav--pill {
        width: 2rem;
    }

    .blogs__wrapper {
        grid-row-gap: 2rem;
    }

    .blog__header-heading {
        font-size: 2.75rem;
    }

    .blog__img__box {
        height: auto;
    }

    .blog__img {
        width: 100%;
        height: auto;
    }

    .blog__footer {
        flex-wrap: wrap;
    }

    .blog__footer-img-box {
        margin-left: auto;
    }

    .blog__footer-info {
        margin-right: auto; 
        width: 80%;  
    }

    .blog__footer-contact {
        width: 100%;
        margin-top: 1.5rem;
    }

    .blog__footer-contact-input {
        width: 70%;
    }
}

@media (max-width:425px) {
    .blog__tag-wrapper {
        margin: 4rem auto 2rem auto;   
    }

    .blogs__nav__search-label {
        width: 60%;
    }
}
