.site__header {
    background-color: #09070a;
    padding: 1rem 14rem;
}

.site__nav {
    display: flex;
    padding-top: 8.2rem 
}

.nav__logo__link {
    width: 15%;
    margin-right: auto;
    transform: translateY(-50%);
    cursor: pointer;
}

.nav__logo {
    width: 100%;
}

.nav__list__wrapper {
    display: flex;
    margin-right: 2.8rem;
}

.nav__list__item {
    font-size: 2rem;
    font-weight: 600;
}

.nav__list__link {
    padding: 2rem;
}

.nav__list__link:link, .nav__list__link:visited {
    cursor: pointer;
    color: #ffffff;
}

.nav__list__link:hover, .nav__list__link:active {
    background-image: linear-gradient(174deg, #09070a 3%, #0A134E 97%);
}

.nav__list__item:not(:last-child) {
    margin-right: 2rem;
}

.nav__list__item__group  {
    display: none;
}

.nav__hr {
    border-color:#333;
    margin-top: 2rem;
}

.site__main {
    display: flex;
    position: relative;
}

.site__section__wrapper{
    width: 100%;
    display: flex;
}

.site__sections {
    padding: 21.4rem 0 27.6rem 22.6rem;
    color: #ffffff;
    width: 100%;
    transform: translateY(-5px);
}

.site__section__first {
    background: linear-gradient(147deg, #09070a 39%, rgba(9, 7, 10, 0.25) 72%), -webkit-image-set( url("../assets/mast-background.jpg") 1x, url("../assets/mast-background@2x.jpg") 2x, url("../assets/mast-background@3x.jpg") 3x);
    background-image: linear-gradient(147deg, #09070a 39%, rgba(9, 7, 10, 0.25) 72%) , url("../assets/mast-background.jpg");
}

.site__section__second {
    background: linear-gradient(147deg, #09070a 39%, rgba(9, 7, 10, 0.25) 72%), -webkit-image-set( url("../assets/mast-background-2.jpg") 1x, url("../assets/mast-background-2@2x.jpg") 2x, url("../assets/mast-background-2@3x.jpg") 3x);
    background-image: linear-gradient(147deg, #09070a 39%, rgba(9, 7, 10, 0.25) 72%), url("../assets/mast-background-2.jpg");
}

.site__section__third {
    background: linear-gradient(147deg, #09070a 39%, rgba(9, 7, 10, 0.25) 72%), -webkit-image-set( url("../assets/mast-background-3.jpg") 1x, url("../assets/mast-background-3@2x.jpg") 2x, url("../assets/mast-background-3@3x.jpg") 3x);
    background-image: linear-gradient(147deg, #09070a 39%, rgba(9, 7, 10, 0.25) 72%), url("../assets/mast-background-3.jpg");
}

.sections__heading {
    font-size: 5rem;
    font-weight: bold;
}

.sections__text {
    font-family: Lato, sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.36;
    opacity: 0.7;
    width: 77.8rem;
    padding: 3rem 0;
}

.sections__sub-heading {
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.35;
    padding-bottom: 3rem;
}

.sections__button-group {
    width: 18rem;
    height: 4.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sections__learn {
    font-family: Lato, sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 1.44px;
}

.section__paginator {
    position: absolute;
    top: 25%;
    right: 5%;
    display: flex;
    flex-direction: column;
}

.paginator__counter {
    color: #ffffff;
    font-size: 1.8rem;
}

.paginator__counter__end {
    opacity: 0.5;
}

.paginator__progress {
    height: 35rem;
    border: 1px solid rgba(100%, 100%, 100%, 0.3);
    border-radius: 10px;
    background-color: rgba(100%,100%,100%, 0.3);
    width: 20%;
    align-self: center;
    margin: 2rem 0;
}

.paginator__current-progress {
    height: 30%;
    background-color: #ffffff;
    opacity: 1;
    border-radius: 10px 10px 0 0;
}

.site__info-wwd {
    padding: 18.2rem 22.6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.site__info-wwd__heading-wrapper {
    width: 45%;
}

.site__info-wwd__heading {
    font-size: 5rem;
    font-weight: bold;
    color: #151515;
}

.site__info-wwd__text-extra-wrapper {
    width: 45%;
    display: flex;
}

.site__info-wwd__text {
    opacity: 0.7;
    font-family: Lato, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.35;
    color: #131415;
}

.site__info-wwd__text-extra {
    opacity: 0.7;
    font-size: 2.5rem;
    font-weight: 600;
    color: #131415;
}

.site__info-wwd__text-quotes {
    width: 13rem;
    transform: translateY(-75%);
    margin: 1rem;
}

.site__info-wwd__card__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 13rem;
}

.card {
    width: 23%;
    padding: 2.8rem;
    border-radius: 5px;
    box-shadow: 0 2px 12px 0 rgba(21, 21, 21, 0.05);
    border: 1px solid rgba(40, 63, 217, 0.1);
    margin-bottom: 6.3rem;
}

.card__img__box {
    border: solid 3px #283fd9;
    padding: 2rem;
    width: fit-content;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
}

.card__selected .card__img__box {
    background-color: #283fd9;
}

.card__img {
    width: 3rem;
    height: 3rem;
    fill: #283fd9;
}

.card__selected .card__img{
    fill: #fff;
}

.card__heading {
    font-size: 2.5rem;
    font-weight: 500;
    color: #131415;
    margin-top: 1.73rem;
}

.card__pill {
    width: 3.1rem;
    height: 0.6rem;
    object-fit: contain;
    border-radius: 8px;
    background-color: #151515;
    opacity: 0.2;
    margin: 1.22rem 0 2.58rem 0;
}

.card__pill-selected {
    opacity: 1;
    background-color: #283fd9;
}

.card__footer {
    opacity: 0.6;
    font-family: Lato, sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.38;
    color: #131415;
}

.site__info-rp {
    display: flex;
    width: 100%;
    background-color: #eef2f3;
}

.site__info-rp__fixed {
    width: 44%;
    padding: 15.7rem 22.7rem 25.2rem 22.6rem;
}

.site__info-rp__fixed__heading {
    font-size: 5rem;
    font-weight: bold;
    color: #151515;
}

.site__info-rp__fixed__text {
    font-family: Lato, sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.35;
    color: rgb(19, 20, 21, 0.7);
    margin-top: 3rem;
    width: 90%;
}

.site__info-rp__fixed__filter-list {
    margin-top: 5.7rem;
}

.site__info-rp__fixed__filter-item {
    margin-bottom: 5.5rem;
}

.fixed__filter-item-selected {
    margin-bottom: 3.5rem;
}

.site__info-rp__fixed__filter-item-description {
    opacity: 0.5;
    font-family: Lato, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.35;
    color: #131415;
}

.site__info-rp__fixed__filter__pill {
    width: 3.1rem;
    height: 6px;
    background-color: #283fd9;
    border-radius: 5px;
}

.filter-item__selected {
    opacity: 1;
}

.filter__pill-selected {
    margin-top: 1.05rem;
    display: inline-block;
}

.site__info-rp__fixed__filter-paginator-box {
    display: flex;
    align-items: flex-end;
}

.site__info-rp__fixed__filter-paginator {
    fill: #283fd9;
}

.disabled-paginator-fixed {
    opacity: 0.3;
    fill: #151515;
}

.site__info-rp__fixed__filter-paginator-dot {
    font-size: 4rem;
    opacity: 0.2;
    color: #151515;
    line-height: 1.2;
    margin: 0 2rem;
}

.site__info-rp__panels__wrapper {
    width: 56%;
    display: flex;
    position: relative;
}

.site__info-rp__panels__front {
    width: 64%;
    opacity: 0.95;
    border-radius: 2rem 0 0 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.85)), url("../assets/phone.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.85)), -webkit-image-set(url("../assets/phone.jpg") 1x, url("../assets/phone@2x.jpg") 2x, url("../assets/phone@3x.jpg") 3x);
    background-repeat: no-repeat;
    background-size: cover;
}

.site__info-rp__panels__second {
    width: 64%;
    height: 100%;
    opacity: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.95)), url("../assets/watch.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.95)), -webkit-image-set(url("../assets/watch.jpg") 1x, url("../assets/watch@2x.jpg") 2x, url("../assets/watch@3x.jpg") 3x);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 62%;
}

.site__info-rp__panels__header {
    display: flex;
    align-items: center;
    margin-top: 14.1rem;
}

.site__info-rp__panels__header__pageNum {
    margin: 0 3rem 0 12rem;
    opacity: 0.4;
    font-weight: bold;
    font-size: 9rem;
    line-height: 1.51;
    color: #f9fbfa;
}

.site__info-rp__panels__header__text {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.site__info-rp__panels__header__name {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.53;
}

.site__info-rp__panels__header__industry {
    opacity: 0.5;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.52;
}

.site__info-rp__panels__header__text {
    width: 70%;
}

.site__info-rp__panels__description {
    margin: 48.6rem 10.8rem 0 12rem;
    color: #ffffff;
}

.site__info-rp__panels__description-heading {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.53;
}

.site__info-rp__panels__description-text {
    opacity: 0.8;
    margin-top: 2.4rem;
    font-family: Lato, sans-serif;
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.35;
}

.site__info-rp__panels__description-btn {
    cursor: pointer;
    color: #ffffff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 1.5rem 4rem;
    background-color: transparent;
    margin-top: 2rem;
}

.site__info-rp__panels-paginator-wrapper {
    position: absolute;
    top: 85%;
    left: 57.5%;
    display: flex;
}

.site__info-rp__panels-paginator-box {
    background-color: #283FD9;
    padding: 1.2rem 1.2rem 0.6rem 1.2rem;
    cursor: pointer;
}

.site__info-rp__panels-paginator {
    fill: #fff;
}

.site__info-rp__panels-paginator-box-left {
    border-radius: 5px 0 0 5px;
}

.site__info-rp__panels-paginator-box-right {
    border-radius: 0 5px 5px 0;
    margin-left: -0.8rem;
    z-index: 10;
}

.disabled-paginator {
    background-color: rgba(255, 255, 255, 0.302)
}

.site__info-hww {
    padding: 14rem;
    padding-bottom: 17rem;
    background-color: #131415;
}

.hww__heading {
    margin: 1.8rem 0 12rem 8.6rem;
    font-size: 5rem;
    font-weight: bold;
    line-height: 1.52;
    color: #ffffff;
}

.hww__card-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.hww__card {
    width: 23%;
    border-radius: 20px;
    background-color: rgba(249, 251, 250, 0.2);
    padding: 7.7rem 5rem 10.4rem 3.9rem; 
    display: flex;
    flex-direction: column;
}

.hww__card__img {
    background-color: #f4f4f4;
    width: 12.2rem;
    height: 12.2rem;
    border-radius: 50%;
}

.hww__card__info {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.52;
    color: #ffffff;
    margin-top: 6.3rem;
}

.hww__card-pill {
    opacity: 0.4;
    background-color: #ffffff;
}

.hww__card__text {
    font-family: Lato, sans-serif;
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.35;
    color: #ffffff;
}

.site__info-ss {
    display: flex;
    background-color: #EEF2F3;
}

.ss__flipper {
    width: 62%;
    position: relative;
    color: #ffffff;
    background-color:  rgba(21, 21, 21, 0.45);
    border-radius: 0 0 20px 0;
    display: flex;
}

.ss__flipper__front {
    background-color: #151515;
    width: 83.5%;
    padding: 0 0 14.8rem 22.6rem;
    border-radius: 0 0 20px 0;
}

.ss__panels__header {
    padding-top: 11.9rem;
    margin: 0 18.7rem 10.6rem 0;
    display: flex;
}

.ss__panels__header__pageNum {
    opacity: 0.4;
    font-size: 9rem;
    font-weight: bold;
    line-height: 1.51;
}

.ss__panels__header__text {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0 3.7rem;
}

.ss__panels__header__name {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.53;
}

.ss__panels__header__industry {
    opacity: 0.7;
    font-size: 1.6rem;
    line-height: 1.56;
}

.ss__info__heading-box {
    display: flex;
}

.ss__info__quotes {
    transform: rotateZ(180deg) translate(-2%, -5%);
}

.ss__info__img {
    border-radius: 50%;
}

.ss__info__heading {
    margin-top: 10.85rem;
    font-size: 30px;
    font-weight: bold;
}

.ss__info__panels-text {
    font-family: Lato, sans-serif;
    opacity: 0.8;
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.35;
    margin: 4rem 24.3rem 0 0;
}

.ss__panels-paginator-wrapper {
    position: absolute;
    top: 82%;
    right: 11.7%;
    display: flex;
}

.ss__panels-paginator-box {
    background-color: #283FD9;
    padding: 1.2rem 1.2rem 0.6rem 1.2rem;
    cursor: pointer;
}

.ss__panels-paginator {
    fill: #fff;
}

.ss__panels-paginator-box-left {
    border-radius: 5px 0 0 5px;
}

.ss__panels-paginator-box-right {
    border-radius: 0 5px 5px 0;
    margin-left: -0.8rem;
    z-index: 10;
}

.ss__disabled-paginator {
    background-color: rgba(255, 255, 255, 0.352);
}

.ss__info__text {
    width: 38%;
}

.ss__info__text-heading {
    font-size: 5rem;
    font-weight: bold;
    line-height: 1.52;
    color: #151515;
    margin: 16.45rem 22.6rem 3rem 11.5rem;
}

.ss__info__text-data {
    font-family: Lato, sans-serif;
    opacity: 0.6;
    color: #131415;
    line-height: 1.35;
    font-size: 2rem;
    font-weight: 500;
    margin: 0 22.6rem 0 7.1rem;
    text-align: right;
}
